{% extends "main/home.html" %}



{% block content %}

<style type="text/css">
	.form-control{
	
		color: rgb(15, 14, 14) !important;
	}
</style>


<div style=" background-image: url('/static/images/bbb.jpg'); width:100%; color: rgb(24, 23, 23);">
	<div class="container" style="padding: 80px;">
		<div class="col-sm-6" style="margin: 0 auto; margin-top: 5em;">
		<form method="POST" style="color: rgb(24, 23, 23);">
			{% csrf_token %}
			{% for field in form %}
        <label class="my_class" for="{{ field.name }} " style="color: black;">{{ field.label }}</label>
              {{ field }}
            {% endfor %}
			
	
			<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
		</form>
	</div>
</div>

<br><br>
<p style="margin: 0 auto; text-align: center; color: rgb(19, 18, 18);">If you already have an account,<a href="/login"><strong> login</strong></a> instead.</p>
{% endblock %}
</div>

