{% load static %}


<!-- Start Blog Section -->
        <div class="blog">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-3">
                    <div class="layer-ttl"><h4>Some <span class="text-primary">Blogs</span></h4></div>
                    <div class="layer-sub-ttl">Would you like to see more?</div>
                    <div class="row pt-3">
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static '/images/anandblog.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="/blogs/">Coronavirus or COVID-19 Impact on Newly Hired Graduates</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="fas fa-user"></i><span>Admin</span></p>
                                        <p><i class="fas fa-clock"></i><span>24 Jul</span></p>
                                        <p><i class="fas fa-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>The whole world is suffering from coronavirus; in these difficult times, we need to stay strong and stay together. Coronavirus is affecting not only our lifestyle but also the world’s economy. Many global organizations are claiming that there will be a big loss in GDP. So now the most common question that pops to the minds of new graduates is how will this affect jobs for them.
                                        
                                       </p>
                                    <a href="/blogs/"><span>Read More</span><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static 'media/images/image2.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="/blogs/">
                                        Vulnerable Indians need urgent help to cope with COVID-19 pandemic</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="fas fa-user"></i><span>Admin</span></p>
                                                <p><i class="fas fa-clock"></i><span>24 Jul</span></p>
                                                <p><i class="fas fa-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>Millions of people in India have a hand-to-mouth existence, and fast response measures put in place to curb the COVID-19 pandemic, are making life even more difficult for them. For this latest in our occasional series by UN country team leaders, Renata Dessallien, the UN Resident Coordinator in India, assesses the current situation. Her text is based on an interview with UN News.</p>
                                    <a href="/blogs/"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="blog-card">
                                <img src="{% static 'media/images/image3.jpg' %}" alt="" style="width:360px;height:289.92px;">
                                <div>
                                    <h4><a href="/blogs/">The vulnerable citizens facing a humanitarian crisis</a></h4>
                                    <div class="blog-meta">
                                        <p><i class="fas fa-user"></i><span>Admin</span></p>
                                                <p><i class="fas fa-clock"></i><span>24 Jul</span></p>
                                                <p><i class="fas fa-bubble"></i><span>29</span></p>
                                    </div>
                                    <p>This disease has two elements. The first is the health phase, and we are extremely preoccupied about that around the world. Here in India, investment in health, around 1% - 1.3% of GDP, is very low, and we are now worried about the consequences of that because it’s not enough to respond to the disease, if it takes the course that it has in other countries.</p>
                                    <a href="/blogs/"><span>Read More</span><i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action">
            <div class="layer-stretch">
                <div class="layer-wrapper text-center">
                    <div class="layer-ttl"><h4>Our <span class="text-primary"></span>Purpose</h4></div>
                    <div class="action-content">*In the surge of this pandemic where rumours spread faster than wildfire, our purpose is to spread awareness with genuine and proven information. We want students to make the best of this period by providing them with proper resources for studies as well as keeping them enlightened with surveys and a platform to write their own blogs at the same time. We believe : "Don't share rumours, jokes or fear share correct knowledge, awareness and happiness.</div>
                    
                </div>
            </div>
        </div><!-- End Blog Section -->
