<!--   <nav>
    <div class="nav-wrapper green darken-3">
      <a href="#" class="brand-logo">....Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/login/">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="/account/">{{user.username}}</a></li>
          <li><a href="/logout/">Logout</a></li>
        {% else %}
          <li><a href="/login/">Login</a></li>
          <li><a href="/register/">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav> -->

  {% load static %}
<header>
      <div class="wrapper">
        <!-- Start Header Section -->
        <div id="header" class="header-dark">
            <div class="layer-stretch hdr">
                <div class="tbl animated fadeInDown">
                    <div class="tbl-row">
                        <!-- Start Header Logo Section -->
                        <div class="tbl-cell hdr-logo">
                            <a href="index.html"><img src="{% static 'images/Logo1.jpg'%}" alt=""></a>
                        </div>
                        <!-- End Header Logo Section -->
                        
                                  
                    
                    <!-- End Menu Section -->
                            
                        </div>
                        <div class="tbl-cell hdr-menu">
                            <!-- Start Menu Section -->
                            
                                
                    
                                    <!-- Start Menu Section -->
                                    {% include 'main/includes/nav.html' %}
                                   <!-- End Menu Section -->
                                    
                                  </div>
                    </div>
                </div>
            </div>
        </div>

        </header>
      <!-- End Header Section -->
